/3-npm-demo/node_modules/
/4-1-express-demo/node_modules/
/4-3-automatic-app/node_modules/
/4-2-vidly-app/node_modules/
/6-1-mongo-demo/node_modules/
/6-2-mongo-project/node_modules/
/9-1-relations/node_modules/
/9-2-project-population/node_modules/
/9-3 project embedding/node_modules/
/9-3-project-rentals/node_modules/
/9-4-project-population/node_modules/